@use "./variables" as *;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --vh: 100%;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Pretendard, "Arial", Helvetica, sans-serif;
  background-color: $background-color;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
strong,
img,
small,
strike,
var,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
main,
menu,
nav,
section {
  margin: 0;
  border: 0;
  padding: 0;
}
