@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as *;

.outbox {
  @include m.flex-row-double-center;
  background-color: $translucent;
  border-radius: 0.94vw;
  box-shadow: inset 0.31vw 0.31vw 0.21vw -0.1vw $color-white,
    inset -0.21vw -0.21vw 0.21vw -0.1vw $color-white,
    0vw 0.42vw 0.63vw rgba(4, 0, 250, 0.06);
  overflow: hidden;
}
