@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.documentPageWrapper {
  display: flex;
  gap: 5.73vw;
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/background/document-background.svg") top
    center / cover no-repeat;
  background-position: top center;
}

.container {
  width: 100%;
  height: 56.25vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.section {
  @include m.flex-row-center;
  height: 100%;
  scroll-snap-align: center;
}
