@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.container {
  width: 100%;
  height: 56.25vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  @include m.flex-row-center;
  height: 100%;
  scroll-snap-align: center;
  background-color: green;
}
