/* 전체 vw 통일, 1920px 기준 변환 */
@use '../../styles/mixins' as m;
@use '../../styles/variables' as *;

.container {
  position: relative;
  width: 100%;
  height: 56.25vw; /* 16:9 */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56.25vw;
}

.formBox {
  position: relative;
  margin-top: 8.85vw;
  background: #fff;
  border-radius: 1.04vw;
  width: 38.54vw;
  height: 43.23vw;
  box-shadow: 0 0.21vw 1.04vw rgba(0, 0, 0, 0.1);
  font-family: 'Pretendard', sans-serif;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 1.77vw;
  left: 14.32vw;
  width: 10.05vw;
  height: 2.03vw;
}
