.container {
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/error-background.svg") top center / cover
    no-repeat;
  background-position: top center;
}

/* 캐릭터 이미지 */
.character {
  position: absolute;
  top: 8.49vw;
  left: 6.35vw;
  width: 47.06vw;
  height: 49.78vw;
}

/* 텍스트 이미지 */
.warningtext {
  position: absolute;
  top: 19.27vw;
  left: 55.57vw;
  width: 26.3vw;
  height: 9.58vw;
}
