@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;

.reportPageWrapper {
  @include m.flex-row-double-center;
  aspect-ratio: 1920 / 2419;
  background: url("../../assets/images/report-background.png") center/contain
    no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;

  .reportContainer {
    @include m.flex-column-center;
    gap: 0.83vw;
    margin-top: 2.6vw;
    padding: 1.93vw 3.75vw;
    width: 71.35vw;
    height: 115.16vw;
    border-radius: 1.04vw;
    @include m.glass-box(
      inset 0.31vw 0.31vw 0.16vw -0.1vw $color-white,
      inset -0.21vw -0.21vw 0.21vw -0.1vw $color-white
    );

    .subTitle {
      font-size: 1.04vw;
      font-weight: 700;
      color: black;
    }

    // 하단 경고문구
    .warningText {
      font-size: 0.83vw;
      font-weight: 500;
      color: $gray-300;
      margin-top: 0.78vw;
    }

    // 생성일자, 메일 경고문구
    .dateBox {
      width: 100%;
      @include m.flex-row-center;
      justify-content: space-between;
      .date {
        font-size: 1.04vw;
        font-weight: 400;
        color: $main-color1;
      }
      .mailText {
        font-size: 0.83vw;
        font-weight: 400;
        color: $main-color1;
      }
    }

    // 제목 + 날짜 + 아이콘 2개
    .titleContainer {
      width: 63.85vw;
      @include m.flex-row-center;
      justify-content: space-between;

      .title {
        font-size: 1.88vw;
        font-weight: 700;
      }
    }

    // 레포트 전체
    .reportContent {
      display: flex;
      flex-direction: column;
      gap: 0.63vw;

      .middleSection {
        @include m.flex-row-double-center;
        gap: 0.63vw;

        // ---- 추천 리서치 방법
        .researchBox {
          display: flex;
          flex-direction: column;
          gap: 1.04vw;
        }
      }
      .rightSection {
        @include m.flex-column-center;
        gap: 0.63vw;

        // ---- 청년창업지원사업
        .businessBox {
          display: flex;
          flex-direction: column;
          gap: 0.63vw;
        }

        // ---- 뉴스기사 2개
        .newsContainer {
          display: flex;
          flex-direction: column;
          gap: 0.15vw;

          .newsRow {
            @include m.flex-row-center;
            gap: 3.62vw;
          }

          .newsDivider {
            width: 0.1vw;
            height: 4.32vw;
            align-self: center;
            background-color: $main-color2;
          }
        }
      }
    }

    // ---- swot
    .swotBox {
      width: 63.65vw;
      height: 21.61vw;
      background-image: url("../../assets/images/swot-box.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 5.33vw;
      column-gap: 0;
      padding: 5.8vw 0 0 9.5vw;

      .swot {
        width: 18.49vw;
        height: 3.44vw;
        @include m.flex-row-double-center;
        text-align: center;
        overflow: hidden;

        font-size: 0.83vw;
        font-weight: 500;
        color: $gray-500;
      }
    }

    // ---- 추천 창업 계획
    .recommendBox {
      @include m.flex-column-center;
      gap: 0.63vw;
    }

    .planLabel {
      width: 59.9vw;
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.63vw;
      column-gap: 0.42vw;
      margin-bottom: 0.63vw;

      p {
        font-size: 0.73vw;
        font-weight: 500;

        span {
          font-weight: 700;
        }
      }
    }
  }
}

.subTitle {
  width: 100%;
  font-size: 1.04vw;
  font-weight: 600;
  color: $gray-800;
}
