.scrollTopBtn {
  position: fixed;
  right: 4vw;
  bottom: 4vw;
  width: 3.5vw;
  height: 3.5vw;
  background: transparent;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0vw 0.42vw 0.63vw rgba(4, 0, 250, 0.4);

  &:hover {
    scale: 1.04;
  }

  .icon {
    width: 3vw;
    height: 3vw;
  }
}
