@use "../styles//mixins" as m;
@use "../styles/variables" as *;

// ----- Navbar 스타일
.navbar {
  @include m.flex-row-center;
  gap: 4.69vw;
}

.link {
  // 메뉴 하나
  font-size: 1.04vw;
  font-weight: 600;
  color: $gray-700;
  text-decoration: none;
  padding-bottom: 0.05vw;
  border-bottom: 0.1vw solid transparent;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.active {
  // 활성화된 메뉴
  color: $color-black;
  border-bottom: 0.1vw solid black;
}

// ----- Header(Logo + Navbar) 스타일
.header {
  @include m.flex-row-center;
  justify-content: space-around;
  background-color: transparent; // 투명 배경
  position: fixed; // 위치 고정
  top: 0;
  left: 0;
  right: 0;
  height: 4.17vw;
  z-index: 1000;
}
